header {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-muted);
}

.nav-links {
    display: flex;
    gap: 1rem;
    align-items: center; 
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.nav-item {
    border-color: var(--color-primario);
    border-radius: var(--radio-borde);
    background: var(--color-fondo);
    padding: 0.5rem 1rem;
    background: var(--color-superficie);
}

.game-logo {
    font-weight: 900;
    font-size: 1.25rem;
    color: var(--color-acento);
}

.hub-logo {
    font-weight: 900;
    font-size: 1.25rem;
    color: var(--color-primario);
}

.store-logo {
    font-size: .85rem;
    color: var(--color-muted);
    letter-spacing: .15em;
}

.nav-cart {
    border-radius: var(--radio-borde);
    border-color: var(--color-muted);
    border: 0.8px solid;
    padding: 0.5rem;
}